*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background:#9ED2BE ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    position: relative;
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;

}
.calculator form input{
    border: 0;
    outline:0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 10px;

}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: #33ffd8;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: -1;

}
.theme-toggler.active{
    color: #333;
}
.theme-toggler.active::before{
    background-color: #fff;
}

.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50% -50%);
    border-radius: -50%;
    background-color: #333;
    z-index: -1;
}
@media(max-width:350px)
{
    .calculator form input {
        border: 0;
        outline: 0;
        width: 49px;
        height: 60px;
        border-radius: 10px;
        box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
        background: transparent;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }
    form input.equal{
        width: 123px;
    }
}
